@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-mono), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-error: var(--danger);
  --color-error-fg: var(--danger-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  :root {
    --bg: oklch(1 0 0);
    --fg: oklch(0.141 0.005 285.823);

    --primary: oklch(0.705 0.213 47.604);
    --primary-fg: oklch(1 0 0);

    --secondary: oklch(0.92 0.004 286.32);
    --secondary-fg: oklch(0.141 0.005 285.823);

    --overlay: oklch(1 0 0);
    --overlay-fg: oklch(0.141 0.005 285.823);

    --accent: oklch(0.705 0.213 47.604);
    --accent-fg: oklch(1 0 0);

    --muted: oklch(0.967 0.001 286.375);
    --muted-fg: oklch(0.552 0.016 285.938);

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --border: oklch(0.911 0.006 286.286);
    --input: oklch(0.871 0.006 286.286);
    --ring: oklch(0.646 0.222 41.116);

    --navbar: oklch(0.967 0.001 286.375);
    --navbar-fg: oklch(0.141 0.005 285.823);

    --sidebar: oklch(0.967 0.001 286.375);
    --sidebar-fg: oklch(0.141 0.005 285.823);

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.75 0.183 55.934);
    --chart-3: oklch(0.837 0.128 66.29);
    --chart-4: oklch(0.901 0.076 70.697);
    --chart-5: oklch(0.954 0.038 75.164);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }

  .dark {
    --bg: oklch(0.091 0.005 285.823);
    --fg: oklch(0.985 0 0);

    --primary: oklch(0.705 0.213 47.604);
    --primary-fg: oklch(1 0 0);

    --secondary: oklch(0.234 0.006 286.033);
    --secondary-fg: oklch(0.985 0 0);

    --accent: oklch(0.705 0.213 47.604);
    --accent-fg: oklch(1 0 0);

    --muted: oklch(0.21 0.006 285.885);
    --muted-fg: oklch(0.705 0.015 286.067);

    --overlay: oklch(0.17 0.006 285.885);
    --overlay-fg: oklch(0.985 0 0);

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --border: oklch(0.274 0.006 286.033);
    --input: oklch(0.274 0.006 286.033);
    --ring: oklch(0.646 0.222 41.116);

    --navbar: oklch(0.17 0.006 285.885);
    --navbar-fg: oklch(0.985 0 0);

    --sidebar: oklch(0.16 0.006 285.885);
    --sidebar-fg: oklch(0.985 0 0);

    --chart-1: oklch(0.553 0.195 38.402);
    --chart-2: oklch(0.705 0.213 47.604);
    --chart-3: oklch(0.75 0.183 55.934);
    --chart-4: oklch(0.837 0.128 66.29);
    --chart-5: oklch(0.901 0.076 70.697);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
  }

  body {
    @apply bg-bg text-fg;
  }

  /* dark mode */
  .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted;
    border-radius: 14px;
    border: 3px solid transparent;
  }
}

*::-ms-reveal {
  display: none;
}

.react-aria-DropIndicator[data-drop-target] {
  outline: 1px solid oklch(var(--primary));
}
